header {
    /* background-color: #fd5200; */
    height: 10vh;
}

main {
    height: auto;
    background-color: #999;
}

.centraliza_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 10vh;
    background-color: #fe621d;
    color: #999;
}

h1, h2, h3 {
    text-align: center;
}

img {
    height: 70vh;
}


.banner {
    background-image: url("../imagens/banner/woman-library.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.texto_banner {
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .banner {
        background-image: url("../imagens/banner/woman-library.jpg") no-repeat center fixed;
    }
  }