header {
    /* background-color: #fd5200; */
    height: 10vh;
}

main {
    height: auto;
    background-color: #999;
}

.centraliza_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 10vh;
    background-color: #fe621d;
    color: #999;
}

h1, h2, h3 {
    text-align: center;
}
img {
    height: 70vh;
}